<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>401 Unauthorized</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body class="bg-[#7a7a7a] flex items-center justify-center min-h-screen">
    <div class="text-center p-6 bg-[#f3f3f3] rounded-2xl shadow-3xl flex flex-col justify-center items-center h-64">
        <h1 class="text-4xl font-bold text-gray-800 mb-2">401 Unauthorized</h1>
        <p class="text-gray-600 mb-4">
            Token tidak valid atau tidak terdaftar
        </p>
    </div>
</body>
</html>
